In [17]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [18]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [19]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [34]:
# create engine to hawaii.sqlite
# db_path = "Resources/hawaii.sqlite"
engine = create_engine(f"sqlite:///Resources/hawaii.sqlite", echo=False)
# conn = engine.connect()

In [35]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [40]:
measurement = engine.execute("SELECT * FROM measurement")
station = engine.execute("SELECT * FROM station")

# station.fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [22]:
# reflect an existing database into a new model

# reflect the tables

In [23]:
# View all of the classes that automap found

In [24]:
# Save references to each table

In [25]:
# Create our session (link) from Python to the DB

# Exploratory Precipitation Analysis

In [26]:
# Find the most recent date in the data set.

In [27]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [28]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [29]:
# Design a query to calculate the total number stations in the dataset

In [30]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [31]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [32]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [33]:
# Close Session
session.close()

NameError: name 'session' is not defined